@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:wght@600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:wght@600&family=Poppins:wght@300&family=Vollkorn:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:wght@600&family=Poppins:wght@300&family=Vollkorn:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz@6..96&family=Cabin:wght@600&family=Poppins:wght@300&family=Vollkorn:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Cabin:wght@600&family=Poppins:wght@300&family=Vollkorn:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Cabin:wght@600&family=Poppins:wght@300&family=Shippori+Mincho:wght@500&family=Vollkorn:wght@400;600&display=swap');





* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    height: 100vh;
    background-color: rgb(183, 182, 182);
   /* width: 434px;*/
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease-in;

}

.sidebar nav {
    padding: 30px;

}

.sidebar nav li {
    padding: 10px 0;
    list-style: none;
    font-size: 20px;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(4, 4, 4);
}

.main {
    /* background-color: yellow; */
    width: 90vw;
    padding: 23px;

}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: rgb(176, 47, 193); */
    height: 40vh;
    width: 76vw;
    margin: 140px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.devPic img {
    height: 336px;

}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 50px;
    font-family: 'Shippori Mincho', serif;


}

.name {
    font-size: 85px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;

}

.about {
    font-size: 30px;
}

.buttons {
    margin-top: 34px;
}

.buttons button {
    padding: 7px;
    border-radius: 32px;
    color: white;
    background-color: #66a4a5;
    font-weight: bold;
    font-size: 15px;
    margin: 0 15px;
    cursor: pointer;
    /*to makr it change pointer*/

}


.buttons button:hover {
    /*hover to make it change colour*/
    background-color: white;
    color: #66a4a5;

}


.blogItem {
    margin: 32px;
    font-family: 'Abril Fatface', cursive;


}

.blogcontainer h1 {
    font-family: 'Abril Fatface', cursive;



}

.blogcontainer h2 {
    font-family: 'Poppins', sans-serif;



}


p {
    font-family: 'Shippori Mincho', serif;
    margin: 0;
    padding: 10px;
    font-size: px;
}


@media (max-width: 1103px) {
    

    /*.sidebar {
        transform: translate(-457px, 10px);
        position: absolute;
    }*/
}

.sidebargo {
    transform: translate(-457px, 10px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-left: 120px;
}